/* GENERAL STYLING START */
/* custom font */
@font-face {
  font-family: 'archivo-narrow';
  src: url('./fonts/ArchivoNarrow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-ff: 'archivo-narrow';
  --main-fc: hsl(0, 0%, 19%);
  --title-fc: hsl(0, 0%, 14%);
  --main-bs: 0px 0px 20px hsla(0, 0%, 37%, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.7;
  font-family: var(--main-ff);
  color: var(--main-fc);
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  max-width: 90rem;
  margin: 5rem auto;
}
/* GENERAL STYLING END */

/* DROPDOWN SECTION START */
.links-container {
  display: flex;
  list-style-type: none;
  gap: 3em;
  justify-content: center;
  align-items: center;
}

.link {
  color: var(--title-fc);
  font-size: 2.5rem;
  padding: 0.2em;
}

.drop-link {
  display: flex;
  gap: 0.2em;
  align-items: center;
}

.drop-link-container {
  position: relative;
}

.hidden {
  position: absolute;
  z-index: 2;
  width: 30rem;
  top: 4.5rem;
  left: -4rem;
  display: none;
  box-shadow: var(--main-bs);
  border-radius: 1rem;
}

/* SERVICES SECTION START */

.services {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service-title {
  font-weight: 500;
  color: var(--title-fc);
  font-size: 1.6rem;
}

/* SERVICES SECTION END */

/* DROPDOWN SECTION END */
